pedalboard
tensorboardx
elevenlabs
gTTS==2.3.2
edge-tts
noisereduce==2.0.1
numpy>=1.16.5,<1.23.0
onnxruntime
onnxruntime_gpu==1.15.1
opencv_python==4.8.0.74
opencv_python_headless==4.8.0.74
PySimpleGUI==4.60.5
scikit_learn==1.3.0
yt_dlp==2023.7.6
sounddevice==0.4.6
torchcrepe==0.0.21
torch_directml==0.2.0.dev230426
torchgen>=0.0.1
flask
flask_cors
gin
gin_config
local_attention
mega.py==1.0.8
wget
gradio==3.34.0
torch==2.0.0
torchaudio==2.0.1
torchvision==0.15.1
fastapi==0.95.2
tensorflow
protobuf==3.20.0
